body {
    background-color: rgb(2, 221, 2);
}
.poke-title {
    text-align: right;
}
.pklogo {
    background: none;
    border: none;
    height: 100px;
    width: 250px;
}
.gb-frame {
    position: relative;
    left: 0px;
    top: 0px;
}
.gb-image {
    height: 852px;
    width: 599px;
}
.my-custom-scrollbar {
    background-color: lightgray;
    margin-left: 312px;
    bottom: 358px;
    position: fixed;
    height: 240px;
    overflow: auto;
    width: 380px;
}
.table-wrapper-scroll-y {
    display: block;
}
#list-of-pokemon {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    height: 255px;
    width: 377px;
    padding-left: 0px;
    list-style-position: inside;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: rgb(135, 0, 245);
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    top: 101px;
    left: 127px;
    margin-bottom: 0px;
}
#list-of-pokemon::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
li {
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    border-style: solid;
    border-width: 1px;
}
li:hover {
    background-color: rgb(206, 206, 206);
}